/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1992px;
    margin: auto;
  }


  /* .secwhitpad{
  width: 1480px !important;
  margin: auto;
} */
}



@media only screen and (max-width:1440px) {}


/* 1024 */
@media only screen and (min-width:1024px) {}






@media only screen and (max-width:768px) {
  .sec-logo-img {
    width: 50%;
  }

  .navbar-expand-xl .navbar-nav {
    flex-direction: column;
    display: flex;
    justify-content: flex-end !important;
  }

  .secwhitpad {
    width: 100% !important;
  }

  .paddhero2 {
    padding-top: 10px !important;
    padding: 0px;
  }

  .paddhero {
    padding-top: 170px;
  }

  .secmodihid {
    display: none;
  }

  a.navbar-brand {
    width: 77% !important;
  }

  .navbar-brand {
    padding: 0;
  }

  button.navbar-toggler {
    border: 1px solid #fff;
    margin-top: 17px;
  }

  .offcanvas-header {
    background: #000;
  }

  .headermenusec {
    color: #000;
  }

  .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
  }

  .navbar-nav {
    margin: 0;
  }

  .classes .owl-dots,
  .classes .owl-nav,
  .testimonial .owl-nav {
    display: none !important;
  }

  .secfootermenu {
    flex-direction: column;
  }

  .container.py-3.sec-menu-bgg {
    padding: 0px;
  }

  .container-fluid.secwhitpad.align-items-start {
    padding: 0px;
  }

  #secdesktop {
    display: none;
  }

  #secmobile {
    display: block;
  }

  .secboyimg {
    width: 84%;
    margin-left: 0px;
  }

  .secpddmob {
    padding: 0;
  }

  .secppbb {
    padding: 0;
  }

  .secWelcome {
    padding-top: 20px;
  }

  .secWelcome2 {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .secrivw {
    margin-left: 0px;
    padding-top: 0px;
  }

  .secrevimg {
    width: 50%;
  }

  .secrivw h4 {
    padding-top: 20px;
  }

  .secsliderhome {
    padding-top: 20px;
  }

  .homesnav {
    display: none;
  }

  .stareheresec {
    padding-top: 20px;
    text-align: start;
    position: relative;
    z-index: 99;
  }

  .martext2,
  .martext {
    font-size: 16px;
  }

  .maeqsec1 {
    background-color: #fff;
    padding: 5px 0px 0px 0px;
    transform: rotate(0deg);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .maeqsec2 {
    background-color: #D20202;
    padding: 5px 0px 0px 0px;
    transform: rotate(0deg);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .secover {
    padding: 40px 0px 5px 0px;
  }

  .secourtext {
    font-size: 28px;
  }

  .secbtnhera {
    font-size: 16px;
  }

  .sectoy {
    padding-top: 30px;
  }

  .sectoy h4 {
    font-size: 20px;
    padding-bottom: 4px;
  }

  .sectoy p {
    font-size: 16px;
  }

  .joinsectext {
    font-size: 20px;
  }

  .secfitbgg {
    margin-bottom: 20px;
  }

  #heronum.four {
    width: 50%;
  }

  .secnu2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .counter-box p {
    font-size: 16px;
}
.counter-box span { 
  font-size: 30px;
}
#heronum .counter-box {
  text-align: center;
  border: 1px solid #D20202;
  margin-bottom: 20px;
}
div#secccounter h4 {
  font-size: 20px;
}
.secheading h4 {
  font-size: 36px;
  padding-bottom: 20px;
}
.seclassbg {
  padding: 50px 10px 80px 10px;
}
.aecbggvideo2 {
  margin-top: -36px;
}
.secbttab{
  padding: 0px !important;
}
.secabutext h4 {
  font-size: 25px;
  padding-top: 15px;
}
.aecbggvideo {
  padding-bottom: 50px;
}
.sectstimtbg {
  background-color: #000;
  width: 100%;
  margin: auto;
  padding: 20px;
  margin-top: 0px;
}
.sectstimtbg img {
  width: 14% !important;
  margin-top: 0px;
}
.sectstimtbg p {
  font-size: 16px;
}
.seccmemberbg {
  padding: 50px 10px;
}
.memherhead {
  font-size: 24px;
  margin: 0px;
}
.memherhead2 {
  margin: auto;
  width: 100%;
  padding-top: 10px;
}
.secbassbg h4 {
  font-size: 25px;
}
.secccbgord {
  border-right: none;
  border-bottom: 1px solid #D20202;
  padding-top: 0;
  margin-top: 40px;
}
.row.pt-4 {
  padding: 0px !important;
}
.secbassbg p {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.secnumpa {
  font-size: 45px;
  line-height: 0px;
}
.secnumbb span {
  font-size: 20px;
}
.secmoder {
  font-size: 30px;
}
.secoff h4 {
  font-size: 22px;
}
.secfacbg {
  display: flex
;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.secmodimg {
  padding-top: 30px;
}
.secfooterbg {
  background-color: #000;
  padding: 50px 10px 100px 10px;
}
.aectem {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
}
.aectem2 {
  text-align: center;
}
.secass2 {
  padding-top: 20px;
}
.addresssec {
  font-size: 17px;
}
.secfootermenu p {
  padding-right: 0;
  text-align: center;
}

.secfootermenu p a {
  font-size: 18px;
}

}