.hero-bg {
   background-color: #000;
}

.navbar-expand-xl .navbar-nav {
   flex-direction: row;
   display: flex;
   justify-content: flex-end !important;
}


.headermenusec {
   color: #fff;
   font-family: 'Roboto';
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   text-transform: capitalize;
}

.headermenusec:hover {
   color: #E41C1F;
}

.headermenusec2btn {
   background: #E41C1F;
   border-radius: 40px;
   display: inline-flex;
   padding: 10px 35px 10px 35px !important;
   color: #FFF;
   text-align: center;
   font-family: 'Roboto';
   text-transform: uppercase;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
}

.headermenusec2btn:hover {
   color: #E41C1F;
   background: #fff;
}


.secwhitpad2 {
   background-color: #000;
   /* padding-top: 300px ; */
}

.secbgggymbg {
   background-image: url(../images/gymhomebg.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom;
   text-align: start;
}

.secWelcome {
   padding-top: 150px;
}

.secboyimg {
   width: 80%;
   margin-left: -67px;
}

.secWelcome p a {
   font-family: "Questrial";
   color: #fff;
   font-size: 18px;
}

.secWelcome p a i {
   color: #D20202;
}

.secWelcome2 {
   padding-top: 80px;
   padding-bottom: 50px;
}

.counter-box span {
   color: #D20202;
   font-family: 'Roboto';
   font-size: 40px;
   font-weight: 800;
}

.counter-box p {
   color: #fff;
   font-family: 'Roboto';
   font-size: 20px;
}

.secmodihid h3 {
   font-family: "Questrial";
   color: #fff;
   font-size: 60px;
   margin-left: -130px;
   padding-top: 60px;
}

.secrivw {
   margin-left: -130px;
   padding-top: 40px;
}

.secrivw h4 {
   font-family: 'Roboto';
   color: #fff;
   font-size: 30px;
   font-weight: 800;
   margin: 0;
}

.secrivw p {
   color: #fff;
   font-size: 18px;
}
.homeslider .owl-nav {
   display: none;
}
.secsliderhome{
   padding-top: 80px;
}
button.prev-btn {
   background: transparent;
   border: 0px !important;
}
button.next-btn {
   background: transparent;
   border: 0px !important;
}
.homeslider .owl-dots {
   display: none;
}

.homeslider .no-js .owl-carousel, .homeslider .owl-carousel.owl-loaded {
   display: flex;
   flex-direction: row;
}
.homeslider p{
   color: #fff;
   font-family: 'Roboto';
   font-size: 14px;
}
.stareheresec{
   padding-top: 50px;
   text-align: end;
}
.secbtnhera{
   color: #fff;
   font-family: 'Roboto';
   font-size: 18px;
   padding: 10px 20px;
   background-color: #D20202;
   border-radius: 20px;
}
.secbtnhera:hover{
   background-color: #fff;
   color: #D20202;
   text-decoration: none;
}
.secover {
   overflow: hidden;
   padding: 99px 0px 73px 0px;
   position: relative;
   background: #000;
   margin-top: -16px;
}

.maeqsec2 {
   background-color: #D20202;
   padding: 10px 0px;
   transform: rotate(0deg);
   margin-top: -75px;
   margin-left: -20px;
   margin-right: -20px;
   position: relative;
   z-index: 99;
}

.maeqsec1 {
   background-color: #fff;
   padding: 10px 0px;
   transform: rotate(5deg);
   margin-top: -40px;
   margin-left: -20px;
   margin-right: -20px;
}

.maintextmarqflex {
   display: flex;
}

.martext {
   font-family: 'Questrial';
   font-size: 28px;
   color: #0E0E0E;
   font-weight: 500;
   text-transform: capitalize;
}

.martext2 {
   font-family: 'Questrial';
   font-size: 28px;
   color: #fff;
   font-weight: 500;
   text-transform: capitalize;
}
.seccbgg{
   background-color: #000;
   padding: 0px 10px 50px 10px;
}
.secourtext{
   font-family: 'Questrial';
   font-size: 40px;
   color: #fff;
   font-weight: 500;
}
.secbtnour{
   padding: 30px 0px;
}
.sectoy p i{
   color: #D20202;
   font-size: 30px;
}
.sectoy h4{
   font-family: 'Questrial';
   font-size: 24px;
   color: #fff;
   font-weight: 500;
   padding-bottom: 30px;
}
.sectoy p{
   font-family: 'Questrial';
   font-size: 18px;
   color: #fff;
}
.joinsectext{
   padding-top: 30px;
   font-family: 'Questrial' !important;
   font-size: 40px;
   color: #fff;
}
.joinsectext a{
   color: #D20202;
   text-decoration: none;
}

.joinsectext i{
   width: 100px;
}
.joinsectext span{
   color: #7f7f7f !important;
}
.sechomeline{
   width: 50%;
}
.secfitbgg{
   background-color: #D20202;
   padding: 20px;
   border-radius: 15px;
}

div#secccounter span.counter {
   color: #fff !important;
   font-family: 'Roboto';
   font-size: 40px;
   font-weight: 500
}

div#secccounter span{
   color: #fff !important;
   font-family: 'Questrial';
   font-size: 40px;
   font-weight: 600
}

div#secccounter h4 {
   color: #fff;
   font-family: 'Questrial';
   font-size: 25px;
}

div#secccounter p {
   color: #fff;
   font-family: 'Questrial';
   font-size: 16px;
}
.secfitbgg i{
   color: #fff;
   font-size: 25px;
   display: flex;
    justify-content: flex-end;
}

.secfitbgg:hover{
   background-color: #fff;
}

.secfitbgg:hover i{
   color: #000;
}

.secfitbgg:hover div#secccounter p , 
.secfitbgg:hover div#secccounter h4 , 
.secfitbgg:hover div#secccounter span , 
.secfitbgg:hover  div#secccounter span.counter{
   color: #000 !important;
} 

.seclassbg{
   background-color: #383838;
   padding: 80px 10px 380px 10px;
}

.secheading {
   text-align: center;
}
.secheading p a {
   color: #D20202;
   font-family: 'Questrial';
   font-size: 16px;
   background-color: #fff;
   padding: 10px 40px;
   border-radius: 20px;
   border: 1px solid #D20202;
}

.secheading p a:hover {
 text-decoration: none;
}

.secheading h4{
   font-family: 'Questrial'; 
   color: #fff;
   font-size: 54px;
   padding-top: 20px;
}

.img-container {
   overflow: hidden;
   position: relative;
 }
 
 .img-container img {
   transition: all 1s;
   width: 100%;
 }
 
 .img-container figcaption  {
   font-family: 'Dosis', sans-serif;
   display: block;
   position: absolute;
   bottom: -40px;
   /* top: -40px; */
   height: 40px;
   width: 100%;
   padding: 0px 10px;
   background-color: #d202029c;
   border-bottom: 2px solid #444;
   transition: all .5s;
 }
 
 .img-container:hover figcaption {
   bottom: -26px;
   height: 186px;
   /* top: 20px; */
 }
 
 .img-container:hover img {
   transform: scale(1.2);
   opacity: .4;
 }
 .secheaddhove{
font-family: 'Roboto';
font-size: 25px;
font-weight: 700;
color: #FFF;
 }
 .sectexthov{
   font-family: 'Roboto';
   font-size: 15px;
   color: #FFF;
 }
 .seclinhov{
   font-family: 'Roboto';
   font-size: 14px;
   color: #141414;
   padding: 8px 20px;
   background-color: #fff;
   border: 1px solid #D20202;
   border-radius: 20px;
 }
 .seclinhov:hover{
   text-decoration: none;
   color: #141414;
 }
 .secgyntext{
   background-color: #0000007a;
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 10px;
 }
 .secgyntext h4{
   font-family: 'Roboto';
   font-size: 25px;
   color: #FFF;
   font-weight: 700;
 }
 .img-container:hover .secgyntext{
   bottom: -70px;
 }
 .classes .owl-nav {
   margin-top: -200px;
   margin-bottom: 160px;
}
.classes button.owl-prev {
   margin-left: -60px;
   background-color: #D20202 !important;
   padding: 0px 21px 5px 23px !important;
   border-radius: 50px !important;
   font-size: 35px !important
}
.classes button.owl-next{
   float: right;
   margin-right: -60px;
   background-color: #D20202 !important;
   padding: 0px 21px 5px 23px !important;
   border-radius: 50px !important;
   font-size: 35px !important
}
.classes button.owl-prev span {
   color: #fff !important;
}
.classes button.owl-next span {
   color: #fff !important;
}
.classes button.owl-prev:hover , .classes  button.owl-next:hover{
   background-color: #fff !important;
}
.classes button.owl-prev:hover span , .classes  button.owl-next:hover span {
   color: #D20202 !important;
}
.classes .owl-dots{
   text-align: center !important;
}
.classes button.owl-dot {
   background:#9C9C9C !important;
   margin-left: 10px;
   padding: 5px;
   border-radius: 50px;
}
.classes button.owl-dot.active{
   background: #D20202 !important;
}
.aecbggvideo{
   background-color: #000;
   padding-bottom: 80px;
}
.aecbggvideo2{
margin-top: -300px;
}
.aecbggvideo2 video{
width: 100%;
}
.secabutext h4{
   font-family: 'Questrial';
   font-size: 35px;
   color: #fff;
}
.secabutext p{
   font-family: 'Questrial';
   font-size: 15px;
   color: #fff;
}
.secabutext h5{
   font-family: 'Questrial';
   font-size: 15px;
   color: #D20202;
   text-transform: uppercase;
}
.secneametext h4{
   font-family: 'Questrial';
   font-size: 24px;
   color: #fff;
}
.secneametext p{
   font-family: 'Questrial';
   font-size: 14px;
   color: #fff;
}
.secneametext p i{
   color: #D20202;
}